
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mt-5">
            <div class="alert alert-danger" role="alert" style="border-radius: 15px;">
                <h1 class="display-4">Access Denied</h1>
                <p class="lead">Uh-oh! It seems you're in the wrong place.</p>
                <p>Please contact the administrator for assistance or return to the 
                    <a asp-controller="Movies" asp-action="Index">Home page</a>.
                </p>
            </div>
        </div>
    </div>
</div>





@* <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5">
                <div class="card-header bg-danger text-white">
                    <h2 class="mb-0">Access Denied</h2>
                </div>
                <div class="card-body">
                    <p class="lead">Sorry, you don't have permission to access this page.</p>
                    <p>Please contact the administrator for assistance.</p>
                </div>
            </div>
        </div>
    </div>
</div> *@









@* <div class="row">
    <div class="col-md-6 offset-3 alert-danger text-center" style="border-radius: 20px;">
        <h1> You are not allowed to access this page! </h1>
        <p> Please click down below to be redirected to the main page. </p>
        <hr />
        <p>
            <a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">Home Page</a>
        </p>
    </div>
</div> *@