
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mt-5">
            <div class="alert alert-danger" role="alert" style="border-radius: 15px;">
                <h1 class="display-4">Access Denied</h1>
                <p class="lead">Uh-oh! It seems you're in the wrong place.</p>
                <p>Please contact the administrator for assistance or return to the 
                    <a asp-controller="Movies" asp-action="Index">Home page</a>.
                </p>
            </div>
        </div>
    </div>
</div>