<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center" style="border-radius: 20px;">
        <h1> Order Completed Successfully </h1>
        <p> You can check all orders in the Orders section in your profile! </p>
        <hr />
        <p> Thank You!</p>
    </div>
</div>